.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid;
  border-color: lightblue;
  border-radius: 5px;
  width: 30vw;
  padding: 1vw;
}

.container > *:not(:last-child) {
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer > * {
  margin: auto;
}

.formContainer > *:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

.formContainer > input {
  border-radius: 5px;
  height: 35px;
  width: 70%;
}

.formContainer > label {
  width: 70%;
}

.btn {
  background-color: white;
  width: 40%;
  height: 30px;
  border: solid;
  border-width: 2px;
  border-color: lightblue;
  border-radius: 5px;
  cursor: pointer;
}

.btnlink {
  background: none;
  padding: 0;
  border: none;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.error {
  background-color: lightcoral;
}
